[coverage:run]
branch = True
data_file = .outputs/.coverage
omit = tests/*

[coverage:report]
include = src/*.py
precision = 2
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError

[coverage:html]
directory = .outputs/coverage_html_report

[coverage:xml]
output = .outputs/coverage.xml
